/* Wrapper */
.wrapper {
    position: relative;
}

/* Feature Section */
.feature {
    height: 90vh;
    background: linear-gradient(to right, #401a29, #8a3758);
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    transition: background 0.3s ease;
}

.text {
    display: flex;
    flex-direction: column;
    width: 40%;
    animation: fadeIn 1s ease-in-out;
}

.text span:first-child, .text h1 {
    font-size: 35px;
}

.image {
    display: flex;
    justify-content: flex-end;
}

.image video {
    width: 80%;
    height: 95%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Search Bar */
.search {
    width: 80%;
    background: rgba(20, 19, 22, 0.9);
    color: whitesmoke;
    padding: 15px;
    position: absolute;
    bottom: 10%;
    right: 10%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.search input, .search select {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
}

.search input {
    color: #f42155;
}

.search select {
    color: #f9649d;
    padding: 10px;
    font-family: 'Roboto';
}

.events_button {
    background: #f9649d;
    padding: 12px;
    height: 50px;
    width: 200px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
}

.events_button:hover {
    background: #d85182;
    transform: scale(1.05);
}