.wrapper {
    position: relative;
    font-family: 'Roboto', sans-serif;
  }
  
  .featureContainer {
    height: 90vh;
    background-image: linear-gradient(to right, #401a29, #8a3758);
    color: whitesmoke;
    display: flex;
  }
  
  .featureText {
    display: flex;
    flex-direction: column;
    margin: 5%;
    width: 40%;
  }
  
  .featureText span:first-child {
    font-size: 35px;
  }
  
  .featureText h1 {
    font-size: 35px;
  }
  
  .featureImage {
    display: flex;
    justify-content: flex-end;
    width: 60%;
  }
  
  .featureImage video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .searchContainer {
    width: 80%;
    background-color: #141316;
    color: whitesmoke;
    padding: 10px;
    position: absolute;
    bottom: 15%;
    right: 10%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
  }
  
  .searchItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .searchItem input,
  .searchItem select {
    border: none;
    outline: none;
    background-color: transparent;
    color: #f9649d;
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  
  .searchItem input {
    font-size: 15px;
    font-weight: 900;
  }
  
  .searchItem select {
    width: 150px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
  }
  
  .searchButton {
    background-color: #f9649d;
    padding: 10px;
    height: 50px;
    width: 200px;
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }
  