/* Navbar CSS */

/* General body layout */
body {
    background: linear-gradient(to bottom, #f8f9fa, #e0e0e0);
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* Navbar styling */
.navbar-container {
    background-image: linear-gradient(to right, #401a29, #8a3758);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
}

.logo_text {
    font-size: 40px;
    font-weight: 900;
    color: whitesmoke;
    transition: transform 0.3s ease;
}

.logo_text:hover {
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links span {
    font-size: 17px;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
    color: whitesmoke;
}

.nav-links span:hover {
    color: #ffd700;
    transform: translateY(-3px);
}

/* Buttons */
.btn {
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.notified-btn {
    background-color: #ff69b4;
}

.notified-btn:hover {
    background-color: #ff1493;
    transform: translateY(-3px);
}

.logout-btn {
    background-color: #ff6347;
}

.logout-btn:hover {
    background-color: #e5533d;
    transform: translateY(-3px);
}

/* User Box */
.user-box {
    background-color: #ff69b4;
    color: white;
    font-weight: 900;
    border: 2px solid #8a3758;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.user-box:hover {
    background-color: #8a3758;
    transform: translateY(-3px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

/* Responsive Navbar */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        height: auto;
        padding: 20px;
        text-align: center;
    }

    .logo_text {
        font-size: 30px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
}